- content_for :title do
  Good Eggs

:javascript
  $(function() {
    Dashing.widget_base_dimensions = [300, 250];
    Dashing.numColumns = 5;
    Dashing.cycleDashboards({timeInSeconds: 30, stagger: true});
  });

.gridster
  %ul
    - GoodEggs.coming_weekdays.each do |day|
      - weekday_name = day.strftime('%a %m/%d')
      - wday = day.wday
      %li{'data-row' => 1, 'data-col' => wday, 'data-sizex' => 1, 'data-sizey' => 1}
        %div{'data-id' => "name-#{wday}", 'data-view'=> 'Text', 'data-title' => weekday_name}

      - GoodEggs::CATEGORIES.each_with_index do |cat, index|
        - name = GoodEggs.pretty_name(cat)
        %li{'data-row' => index + 2, 'data-col' => wday, 'data-sizex' => 1, 'data-sizey' => 1}
          %div{'data-id' => "#{cat}-#{wday}-count", 'data-view' => 'Number', 'data-title' => name}


.gridster
  %ul
    %li{'data-row' => 1, 'data-col' => 1, 'data-sizex' => 4, 'data-sizey' => 1}
      %div{'data-id' => 'product_counts', 'data-view' => 'Histogram', |
           'data-title' => 'Product Totals by Category', 'data-graphtype' => 'bar'}
    %li{'data-row' => 2, 'data-col' => 1, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => 'product_categories', 'data-view' => 'Pie', 'data-title' => 'Product Categories'}
    %li{'data-row' => 2, 'data-col' => 2, 'data-sizex' => 1, 'data-sizey' => 1}
      %div{'data-id' => 'organic_products', 'data-view' => 'Pie', 'data-title' => 'Organic Products'}
