- content_for :title do
  Good Eggs : SF

.gridster
  %ul
    %li{'data-row' => 1, 'data-col' => 1, 'data-sizex' => 4, 'data-sizey' => 1}
      %div{'data-id' => 'product_counts', 'data-view' => 'Histogram', 'data-title' => 'Product Totals'}
    %li{'data-row' => 2, 'data-col' => 1, 'data-sizex' => 4, 'data-sizey' => 1}
      %div{'data-id' => 'product_counts', 'data-view' => 'Histogram', 'data-title' => 'Product Histogram', 'data-graphtype' => 'bar'}